body {
    background-color: rgb(255, 209, 233);
    color: rgb(255, 145, 200);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1 {
    font-family: 'Ballet';font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'Lobster Two';
    text-align: center;
}
a {
    color: rgb(255, 145, 200);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 74, 210);
}

@font-face {
    font-family: 'Ballet';font-size: 40px;
    src: url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
}

@font-face {
    font-family: 'Lobster Two';
    src: url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}